@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    &--boton {
        @extend .acciones;
        justify-content: center;

        &__link {
            @include m.boton(v.$azul, v.$blanco);
            width: auto;
        }
    }

    &__link {
        color: v.$negro;
        font-size: 1.6rem;
        font-weight: v.$delgada;
    }
}